**PRIMEIRA AULA - 20/03**

In [1]:
# Atribuindo valores à variáveis.
altura = 1.79
peso = 68.7

In [2]:
# Mostrando o valor de uma variável.
peso

68.7

In [3]:
# Utilizando operação de divisão e potenciação com números.
68.7 / 1.79 ** 2

21.44127836209856

In [4]:
# Utilizando operação de divisão e potenciação com as variáveis peso e altura.
peso / altura ** 2

21.44127836209856

In [5]:
# Atribuindo o valor da operação de divisão e potenciação à uma variável.
bmi = peso / altura ** 2
bmi

21.44127836209856

In [6]:
# Utilizando o comando "print" para mostrar o valor da variável "bmi".
print (bmi)

21.44127836209856

In [7]:
# Utilizando o comando "type" para revelar o tipo da variável. São os tipos: Float ou flutuante, são variáveis que apresentam números decimais.
type (bmi)

float

In [8]:
# Int são o tipo de variáveis que possuem numéros inteiros.
day_of_week = 5
type (day_of_week)

int

In [9]:
# Str ou string, são variáveis que possuem texto.
x = 'body mass index'
y = "this works too"
type (y)

str

In [10]:
# O tipo de variável bool são variaveis que possuem o dois valores, verdadeiro ou falso, nunca uma terceira situação.
z = True
type (z)

bool

In [11]:
# Soma de números inteiro por meio do sinal "+".
2 + 3

5

In [12]:
# Também é possivel contatenar variáveis do tipo strin. Nesse caso, a variável A recebe 'ab' e a variável B recebe 'cd' que são contatenadas.
A = 'ab'
B = 'cd'
A + B

'abcd'

In [13]:
# exemplo
print(5/8)

0.625

In [14]:
# soma de 7 com 8
7 + 8

15

In [15]:
# Operação de soma e subtração atribuidas a uma variável.
soma = 5 + 6
print (soma)
subtração = 5 - 6
print (subtração)

11
-1

In [16]:
# Operação de potenciação, multiplicação e resto de divisão atribuidas a uma variável.
pontência = 5 ** 3
multiplicação = 5 * 3
resto_da_divisão = 5 % 3
print (pontência)
print (multiplicação)
print (resto_da_divisão)

125
15
2

In [17]:
# Operação sendo atribuida a uma variável.
rendimento = 100 * 1.1 ** 7
print (rendimento)

194.87171000000012

**SEGUNDA AULA - 22/03**

In [18]:
# Operação realizada com variáveis e contatenação de uma variável com ela mesmo.
savings = 100
growth_multiplier = 1.1
desc = 'compound interest'
year1 = savings * growth_multiplier
print (type(year1))
doubledesc = desc + desc
print (doubledesc)

<class 'float'>
compound interestcompound interest

In [19]:
# Operação de conversão de uma variável do tipo string para uma variável do tipo float.
pi_string = '3.1415926'
pi_float = float (pi_string)
print (type(pi_string))
print (type(pi_float))

<class 'str'>
<class 'float'>

In [20]:
savings = 100
result = 100 * 1.10 ** 7
# print ("I started with" + savings + "and now have" + result + ". Awesome!")

# Não é possível contatenar str com número. Para corrigir o problema, convertemos os números para texto, ou colamos virgulas entre os momentos, separando 'str' de 'int' e 'float'
print ("I started with $" + str(savings) + "and now have $" + str(result) + ". Awesome!")
# ou
print ("I started with $", savings, "and now have $", result, ". Awesome!")

I started with $100and now have $194.87171000000012. Awesome!
I started with $ 100 and now have $ 194.87171000000012 . Awesome!

**TERCEIRA AULA - 28/03**

In [21]:
  # Atribuindo uma lista, que ficam entre colchetes, a uma variável. O que está entre [] e separados por virgula são os elementos dessa lista.
  fam = [1.73, 1.68, 1.71, 1.89]
  fam

[1.73, 1.68, 1.71, 1.89]

In [22]:
# Dentro de uma lista é possível coexistir string, int, float e etc.
fam = ['Pedro', 1.70, 'Cristiane', 1.65, 'Dulce', 1.30, 'Gabriela', 1.65]
fam

['Pedro', 1.7, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.65]

In [23]:
# Dentro de uma lista é possível que haja outras listas. Nesse exemplo, a lista "fam2" possui outras listas em seu valor, essas sub-listas são separadas por [].
fam2 = [['Pedro', 1.70],
        ['Cristiane', 1.65],
        ['Dulce', 1.30],
        ['Gabriela', 1.55]]
fam2

[['Pedro', 1.7], ['Cristiane', 1.65], ['Dulce', 1.3], ['Gabriela', 1.55]]

In [24]:
# O tipo da varíavel "fam" é "list"
type(fam)

list

In [25]:
type(fam2)

list

In [26]:
# Atribuindo valores a variáveis para criar uma lista a partir delas.
# Áreas dos compartimentos
hall = 14.0
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
# Criando uma lista com as áreas dos compartimentos
áreas = [hall, kit, liv, bed, bath]
# "Printando" a lista das áreas
print(áreas)
# Adaptando a lista
áreas = 'hallway', hall, 'kitchen', kit, 'living room', liv, 'bedroom', bed, 'bathroom', bath
print(áreas)

[14.0, 18.0, 20.0, 10.75, 9.5]
('hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5)

In [27]:
A = [1, 2, 3, 4]
# "A" é uma lista qye possui quatro elementos inteiros
B =[[1, 2, 3], [4, 5, 6]]
# "B" é uma lista na qual possui outras duas lista dentro, sendo cada lista possuindo três elementos inteiros
C = [1 + 2, 'A' * 5, 3]
# "C" é uma lista na qual possui três elementos, sendo o primeiro elemento uma soma de inteiros, o segundo elemento a multiplicação de uma string, e o terceiro elemento um inteiro.

In [28]:
# Lista de listas das áreas dos compartimentos
house = [['hallway,', hall],
         ['kitchen', kit],
         ['living room', liv],
         ['bedroom', bed],
         ['bathroom', bath]]
#  "Printando" a lista das lista
print(house)
# "Printando" o tipo da variável "house"
print(type(house))

[['hallway,', 14.0], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [29]:
# Buscando o segundo elemento da lista "fam"
fam[2]

'Cristiane'

In [30]:
# Buscando o sexto elemento da lista "fam"
fam[6]

'Gabriela'

In [31]:
# Buscando o segundo elemento da lista "house"
house[2]

['living room', 20.0]

In [32]:
# Buscando o terceiro elemento da lista "house"
house[3]

['bedroom', 10.75]

In [33]:
# Buscando o elemento da lista "house" de trás para frente por meio dos números negativos
house[-2]

['bedroom', 10.75]

In [34]:
# Pegando a parte da lista "fam" apartir do sexto elemento até o oitavo, observando que a contagem dos elementos começa a partir do número 0. 
fam[6:8]

['Gabriela', 1.65]

In [35]:
fam[2:4]

['Cristiane', 1.65]

In [36]:
fam[4:6]

['Dulce', 1.3]

In [37]:
# Pegando do quarto elemento até o final da lista "fam"
fam[4:]

['Dulce', 1.3, 'Gabriela', 1.65]

In [38]:
# "Printando" o segundo elemento da lista de áreas
print(áreas[2])

kitchen

In [39]:
# "Printando" o ultimo elemento usando o index negativo
print(áreas[-1])

9.5

In [40]:
# "Printando" o valor de "living room"
print(áreas[4])

living room