<a href="https://colab.research.google.com/github/pedrofelixrv/Colab/blob/main/AULAS_22_03_%C3%A0_29_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRIMEIRA AULA - 20/03**

In [140]:
# Atribuindo valores à variáveis.
height = 1.79
weight = 68.7

In [141]:
# Mostrando o valor de uma variável.
weight

68.7

In [142]:
# Utilizando operação de divisão e potenciação com números.
68.7 / 1.79 ** 2

21.44127836209856

In [143]:
# Utilizando operação de divisão e potenciação com as variáveis peso e altura.
weight / height ** 2

21.44127836209856

In [144]:
# Atribuindo o valor da operação de divisão e potenciação à uma variável.
bmi = weight / height ** 2
bmi

21.44127836209856

In [145]:
# Utilizando o comando "print" para mostrar o valor da variável "bmi".
print (bmi)

21.44127836209856

In [146]:
# Utilizando o comando "type" para revelar o tipo da variável. São os tipos: Float ou flutuante, são variáveis que apresentam números decimais.
type (bmi)

float

In [147]:
# Int são o tipo de variáveis que possuem numéros inteiros.
day_of_week = 5
type (day_of_week)

int

In [148]:
# Str ou string, são variáveis que possuem texto.
x = 'body mass index'
y = "this works too"
type (y)

str

In [149]:
# O tipo de variável bool são variaveis que possuem o dois valores, verdadeiro ou falso, nunca uma terceira situação.
z = True
type (z)

bool

In [150]:
# Soma de números inteiro por meio do sinal "+".
2 + 3

5

In [151]:
# Contatenação se trata do ato de unir strings. A seguir, um exemplo de contatenação da string 'ab' mais a string 'cd'.
'ab' + 'cd'

'abcd'

In [152]:
# Também é possivel contatenar variáveis do tipo strin. Nesse caso, a variável A recebe 'ab' e a variável B recebe 'cd' que são contatenadas.
A = 'ab'
B = 'cd'
A + B

'abcd'

In [153]:
# exemplo
print(5/8)

0.625

In [154]:
# soma de 7 com 8
7 + 8

15

In [155]:
# Operação de soma e subtração atribuidas a uma variável.
soma = 5 + 6
print (soma)
subtração = 5 - 6
print (subtração)

11
-1

In [156]:
# Operação de potenciação, multiplicação e resto de divisão atribuidas a uma variável.
pontência = 5 ** 3
multiplicação = 5 * 3
resto_da_divisão = 5 % 3
print (pontência)
print (multiplicação)
print (resto_da_divisão)

125
15
2

In [157]:
# Operação sendo atribuida a uma variável.
rendimento = 100 * 1.1 ** 7
print (rendimento)

194.87171000000012

**SEGUNDA AULA - 22/03**

In [158]:
# Operação realizada com variáveis e contatenação de uma variável com ela mesmo.
savings = 100
growth_multiplier = 1.1
desc = 'compound interest'
year1 = savings * growth_multiplier
print (type(year1))
doubledesc = desc + desc
print (doubledesc)

<class 'float'>
compound interestcompound interest

In [159]:
# Operação de conversão de uma variável do tipo string para uma variável do tipo float.
pi_string = '3.1415926'
pi_float = float (pi_string)
print (type(pi_string))
print (type(pi_float))

<class 'str'>
<class 'float'>

In [160]:
savings = 100
result = 100 * 1.10 ** 2
# print ("I started with" + savings + "and now have" + result + ". Awesome!")

# Não é possível contatenar str com número. Para corrigir o problema, convertemos os números para texto, ou colamos virgulas entre os momentos, separando 'str' de 'int' e 'float'
print ("I started with $" + str(savings) + "and now have $" + str(result) + ". Awesome!")
# ou
print ("I started with $", savings, "and now have $", result, ". Awesome!")

I started with $100and now have $121.00000000000001. Awesome!
I started with $ 100 and now have $ 121.00000000000001 . Awesome!

**TERCEIRA AULA - 28/03**

In [161]:
  # Atribuindo uma lista, que ficam entre colchetes, a uma variável. O que está entre [] e separados por virgula são os elementos dessa lista.
  fam = [1.73, 1.68, 1.71, 1.89]
  fam

[1.73, 1.68, 1.71, 1.89]

In [162]:
# Dentro de uma lista é possível coexistir string, int, float e etc.
fam = ['Pedro', 1.70, 'Cristiane', 1.65, 'Dulce', 1.30, 'Gabriela', 1.55]
fam

['Pedro', 1.7, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.55]

In [163]:
# Dentro de uma lista é possível que haja outras listas. Nesse exemplo, a lista "fam2" possui outras listas em seu valor, essas sub-listas são separadas por [].
fam2 = [['Pedro', 1.70],
        ['Cristiane', 1.65],
        ['Dulce', 1.30],
        ['Gabriela', 1.55]]
fam2

[['Pedro', 1.7], ['Cristiane', 1.65], ['Dulce', 1.3], ['Gabriela', 1.55]]

In [164]:
# O tipo da varíavel "fam" é "list"
type(fam)

list

In [165]:
type(fam2)

list

In [166]:
# Atribuindo valores a variáveis para criar uma lista a partir delas.
# Áreas dos compartimentos
hall = 14.0
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
# Criando uma lista com as áreas dos compartimentos
áreas = [hall, kit, liv, bed, bath]
# "Printando" a lista das áreas
print(áreas)
# Adaptando a lista
áreas = 'hallway', hall, 'kitchen', kit, 'living room', liv, 'bedroom', bed, 'bathroom', bath
print(áreas)

[14.0, 18.0, 20.0, 10.75, 9.5]
('hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5)

In [167]:
A = [1, 2, 3, 4]
# "A" é uma lista qye possui quatro elementos inteiros
B =[[1, 2, 3], [4, 5, 6]]
# "B" é uma lista na qual possui outras duas lista dentro, sendo cada lista possuindo três elementos inteiros
C = [1 + 2, 'A' * 5, 3]
# "C" é uma lista na qual possui três elementos, sendo o primeiro elemento uma soma de inteiros, o segundo elemento a multiplicação de uma string, e o terceiro elemento um inteiro.

In [168]:
# Lista de listas das áreas dos compartimentos
house = [['hallway,', hall],
         ['kitchen', kit],
         ['living room', liv],
         ['bedroom', bed],
         ['bathroom', bath]]
#  "Printando" a lista das lista
print(house)
# "Printando" o tipo da variável "house"
print(type(house))

[['hallway,', 14.0], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [169]:
# Buscando o segundo elemento da lista "fam"
fam[2]

'Cristiane'

In [170]:
# Buscando o sexto elemento da lista "fam"
fam[6]

'Gabriela'

In [171]:
# Buscando o segundo elemento da lista "house"
house[2]

['living room', 20.0]

In [172]:
# Buscando o terceiro elemento da lista "house"
house[3]

['bedroom', 10.75]

In [173]:
# Buscando o elemento da lista "house" de trás para frente por meio dos números negativos
house[-2]

['bedroom', 10.75]

In [174]:
# Pegando a parte da lista "fam" apartir do sexto elemento até o oitavo, observando que a contagem dos elementos começa a partir do número 0. 
fam[6:8]

['Gabriela', 1.55]

In [175]:
fam[2:4]

['Cristiane', 1.65]

In [176]:
fam[4:6]

['Dulce', 1.3]

In [177]:
# Pegando do quarto elemento até o final da lista "fam"
fam[4:]

['Dulce', 1.3, 'Gabriela', 1.55]

In [178]:
# "Printando" o segundo elemento da lista de áreas
print(áreas[2])

kitchen

In [179]:
# "Printando" o ultimo elemento usando o index negativo
print(áreas[-1])

9.5

In [180]:
# "Printando" o valor de "living room"
print(áreas[4])

living room

**QUARTA AULA - 29\03**

In [181]:
# Somando os valores dos elementos 3 e 5 da lista "áreas" e atribuindo o resultado a uma variável.
eat_sleep_area = áreas[3] + áreas[5]

In [182]:
print(eat_sleep_area)

38.0

In [183]:
# Acessando os seis primeiros elementos da lista "àreas".
áreas = 'hallway', hall, 'kitchen', kit, 'living room', liv, 'bedroom', bed, 'bathroom', bath
print(áreas[:6])

('hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0)

In [184]:
# Atribuindo os seis primeiros elementos da lista "áreas" a uma variável.
downstairs = áreas[:6]

In [185]:
# "Printando" do sexto elemento ao ultimo elemento da lista "áreas".
print(áreas[6:])

('bedroom', 10.75, 'bathroom', 9.5)

In [186]:
# Atribuindoo do sexto elemento ao ultimo elemento da lista "áreas" para uma variável.
upstairs = áreas[6:]

In [187]:
print(downstairs)
print(upstairs)

('hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0)
('bedroom', 10.75, 'bathroom', 9.5)

In [226]:
# Mostrando elementos de uma lista que está dentro de uma lista.
x = [['a', 'b', 'c'],
     ["d","e","f"],
     ["g","h","i"]]
# O primeiro número entre colchetes é o número da lista, o segundo número entre colchetes se trata do número do elemento dentro da lista designada pelo o número anterior.
x[2][0]
x[2][:2]

['g', 'h']

In [189]:
house[-1][1]

9.5

In [190]:
# Mostrando a lista "fam"
print(fam)

['Pedro', 1.7, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.55]

In [191]:
# Motificando o elemento 7 da lista "fam" e atribuindo o novo valor de 1.65. 
fam[7] = 1.65
print(fam)

['Pedro', 1.7, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.65]

In [192]:
# O mesmo pode ser feito em intervalos maiores, como no exemplo a seguir: do primeiro elemento (0) ao terceiro elemento (2) será motificado, sendo atribuido um novo valor para esses elementos.
fam[0:2] = 'Vinicius', 1.75
print(fam)

['Vinicius', 1.75, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.65]

In [193]:
# Adicionando elementos em uma lista já existente.
fam + ["Maciel", 1.65]

['Vinicius',
 1.75,
 'Cristiane',
 1.65,
 'Dulce',
 1.3,
 'Gabriela',
 1.65,
 'Maciel',
 1.65]

In [202]:
# Adcionando uma extenção em uma lista.
fam_ext = fam + ["Maciel", 1.65]
# Excluindo o primeiro elemento (0) da lista "fam".
del(fam[0])
fam

[1.75, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.65]

In [195]:
# Mostrando o valor da nova varíavel.
print(fam_ext)

['Vinicius', 1.75, 'Cristiane', 1.65, 'Dulce', 1.3, 'Gabriela', 1.65, 'Maciel', 1.65]

In [196]:
# Variável "y" recebendo a variável "x" como valor. Nesse caso, "x" e "y" são a mesma coisa, isso quer dizer que o que acontecer com uma acontece também coma outra.
x = ["a", "b", "c"]
y = x
y[1] = "z"
print(y)

['a', 'z', 'c']

In [197]:
print(x)

['a', 'z', 'c']

In [198]:
# Para criar uma cópia de da lista que está na variável "x" é possível utilizar os seguintes comandos:
x = ["a","b","c"]
y = list(x)
print(y)

['a', 'b', 'c']

In [199]:
# ou
y = x[:]
print(y)

['a', 'b', 'c']

In [200]:
y[1] = "z"
# Nesses casos, a variável "y", que recebe a cópia do valor de x, ou seja, a lista, é distinta da varíavel "x", portanto, o que acontece com uma variável se limita apenas a mesma, não afetando a outra outra varível.
print(y)
print(x)

['a', 'z', 'c']
['a', 'b', 'c']

In [211]:
# Motificando o nono elemento da lista "áreas" e atribuindo-o um novo valor.
áreas = ['hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
áreas[9] = 10.50
print(áreas)

['hallway', 14.0, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [212]:
# Motificando a string "living room" para "chill zone".
áreas[4] = 'chill zone'
print(áreas)

['hallway', 14.0, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [219]:
# Adicionando novos elementos em uma lista já existente e, criando uma nova lista com a lista modificada.
áreas + ['poolhouse', 24.5]
áreas_1 = áreas + ['poolhouse', 24.5]
print(áreas)
print(áreas_1)

['hallway', 14.0, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 14.0, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [220]:
# Adicionando novamente novos elementos a uma lista e, novamente, criando uma nova lista com a lista modificada.
áreas_1 + ['garage', 15.5]
áreas_2 = áreas_1 + ['garage', 15.5]
print(áreas_1)
print(áreas_2)

['hallway', 14.0, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 14.0, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.5]

In [221]:
# Maneira errada de se criar uma cópia de uma lista. Nesse caso, a variável "áreas_copy" não cria uma cópia, mas sim é recebe em como valor a lista "áreas", tornando-se a mesma coisa.
áreas = [11.25, 18.0, 20.0, 10.75, 9.5]
áreas_copy = áreas
áreas_copy[0] = 5.0
print(áreas)

[5.0, 18.0, 20.0, 10.75, 9.5]

In [222]:
# Maneira correta de se criar uma cópia de uma lista. Nesse caso, é usado o comando que cria uma lista com o mesmo valor de outra, porém, não há qualquer vínculo com a lista copiada.
áreas = [11.25, 18.0, 20.0, 10.75, 9.5]
áreas_copy = list(áreas)
áreas_copy[0] = 5.0
print(áreas)
print(áreas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]